.page {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
}

.button {
  height: 40px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  padding: 0px 15px;
}

.icon-button {
  outline: none;
  border: none;
  cursor: pointer;
  background: transparent;
}

.modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal__content {
  background: #fff;
  padding: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
}
.modal .create-event {
  position: relative;
  max-width: 550px;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #cccccc45;
  z-index: 10;
}

.popup__content {
  position: absolute;
  background: #fff;
  padding: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.hidden {
  display: none;
}

.button {
  margin: 5px 30px 5px 0;
}

.create-event-btn {
  min-width: 92px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px 0px 5px;
  border-radius: 20px;
  transition: all 0.3s linear;
}
.create-event-btn:hover {
  background-color: rgba(128, 128, 128, 0.3);
}

.create-event-btn__icon {
  margin-right: 10px;
}

.navigation__today-btn {
  transition: all 0.3s linear;
}
.navigation__today-btn:hover {
  background-color: rgba(128, 128, 128, 0.3);
}

.navigation__displayed-month {
  font-weight: 600;
}

.create-event__close-btn {
  position: absolute;
  top: 2px;
  right: 10px;
  height: 32px;
  width: 32px;
  background-color: transparent;
  border-radius: 50%;
  z-index: 1;
}
.create-event__close-btn:after {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  height: 32px;
  width: 32px;
  background-color: transparent;
  border-radius: 50%;
  z-index: 1;
  background: pink;
}

.icon-button {
  flex: 0 0 30px;
  width: 30px;
  height: 30px;
  transition: all 0.3s linear;
  border-radius: 100%;
}
.icon-button:hover {
  background-color: rgba(128, 128, 128, 0.1);
}

.fa-chevron-left {
  margin: 0px 2px 0px 0px;
}

.fa-chevron-right {
  margin: 0px 0px 0px 2px;
}

textarea[name=description] {
  border-radius: 3px;
  border: 1px solid grey;
}

.header {
  display: flex;
  align-items: center;
  margin: 10px 50px 5px 50px;
}

.icon-button {
  margin: 0px 10px 0px 0px;
}

.calendar {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.calendar__header {
  display: flex;
  height: 100px;
  margin: 0px 0px 0px 50px;
}
.calendar__body {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
.calendar__week-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
}
.calendar__week {
  display: flex;
  width: 100%;
  height: 100%;
}
.calendar__day {
  flex: 0 0 calc(100 / 7 * 1%);
}
.calendar__time-slot {
  position: relative;
  height: 60px;
  border-right: 1px solid rgba(128, 128, 128, 0.3);
  border-bottom: 1px solid rgba(128, 128, 128, 0.3);
  background-color: rgba(255, 192, 203, 0.308);
}

.day-label {
  flex: 0 0 calc(100 / 7 * 1%);
  height: 100%;
  text-align: center;
  padding: 23px 20px 20px;
  background-color: yellow;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.day-label__day-name {
  font-size: 12px;
  text-transform: uppercase;
}
.day-label__day-number {
  font-size: 20px;
}

.current {
  background-color: #518fe0;
}

.calendar__time-scale {
  height: 100%;
}

.time-slot {
  width: 50px;
  height: 60px;
  background-color: #c8fac8;
  border-bottom: 1px solid rgba(128, 128, 128, 0.8);
}
.time-slot__time {
  display: block;
  text-align: right;
  padding: 0px 5px 0px 0px;
  transform: translateY(-50%);
  font-size: 12px;
  font-weight: 500;
}

span[data-time-slot-time="0"] {
  font-size: 0;
}

.event {
  position: absolute;
  z-index: 5;
  width: 80%;
  height: 200px;
  top: 300px;
  left: 0;
  color: #fff;
  background-color: #518fe0;
  padding: 8px;
  border-radius: 8px;
}
.event__title {
  margin-bottom: 15px;
}
* {
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  background-color: #fff;
}

/*# sourceMappingURL=styles.css.map */
