// стили навигации
.button {
}
.create-event-btn {
	min-width: 100px;
	transition: all 0.3s linear;
	&:hover {
		background-color: rgba(128, 128, 128, 0.3);
	}
}
.create-event-btn__icon {
	margin-right: 10px;
}
.navigation__today-btn {
	transition: all 0.3s linear;
	&:hover {
		background-color: rgba(128, 128, 128, 0.3);
	}
}
.create-event__close-btn {
}
.event-form__submit-btn {
}
.delete-event-btn {
}
.icon-button {
	transition: all 0.3s linear;
	border: 1px solid #fff;
	&:hover {
		border-radius: 3px;
		border: 1px solid rgba(128, 128, 128, 0.5);
		background-color: rgba(128, 128, 128, 0.8);
		color: #fff;
	}
}
input {
}
.event-form__field {
}
.event-form__field {
}

input[name="title"] {
	// color: blue;
	// background-color: pink;
}
input[name="date"] {
}
input[name="startTime"] {
}
input[name="endTime"] {
}
textarea[name="description"] {
	border-radius: 3px;
	border: 1px solid grey;
}
// font-family: 'Material Icons Extended';
