// стили боковой временной шкалы
.calendar__time-scale {
	height: 100%;
}

.time-slot {
	width: 50px;
	height: 60px;


	&__time {
		display: block;
		text-align: right;
		padding: 0px 5px 0px 0px;
		transform: translateY(-50%);
		font-size: 12px;
		font-weight: 500;
		padding: 0px 5px 0px 0px;
	}
}

span[data-time-slot-time="0"] {
	font-size: 0;
}
